# Virtual Environment
mynews/
venv/
.venv/
env/

# Python Cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Django database
db.sqlite3
*.sqlite3

# Local settings / secrets
.env
local_settings.py

# Logs and debug files
*.log
newsfeeds_scrape_log.json
newsproject/newsfeeds_scrape_log.json
Outputs/
newsproject/Outputs/
